{% extends 'base.html.twig' %}

{% block title %}S'inscription - african Food {% endblock %}

{% block content %}
    <h1 class="display-4 pb-3">Inscription</h1>
    <hr>
    {#  formulaire d'inscription#}
    {{ form(form) }}
{% endblock content%}
