{% extends 'base.html.twig' %}

{% block title %}S'inscription - african Food {% endblock %}

{% block content %}
    <h1>Iinscription</h1>
    {#  formulaire d'inscription#}
    {{ form(form) }}
{% endblock content%}
