{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - African Food{% endblock %}

{% block content %}
<h2>Je passe ma commande</h2>
<p>choissier votre préférence Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, enim eos magni nesciunt non nostrum quae. Blanditiis commodi est natus possimus sunt tempora totam! Accusamus animi aperiam aut beatae consequatur debitis deleniti distinctio, doloremque eligendi est, exercitationem fugiat fugit illum iste magni nesciunt nisi nostrum officiis omnis optio provident quae quas quasi quia ratione rem repellendus rerum sequi temporibus unde. Ab, ad animi atque autem deleniti dolorum ducimus excepturi explicabo facilis in incidunt iure, magni minima molestiae nulla pariatur provident, quaerat quibusdam quo rem repellat repellendus reprehenderit sunt tenetur?</p>
<hr>
    <div class="row">
        <div class="col-md-6">
            <b>chossir mon addresse de livraison</b><br>
            <b>chossir mon transporteurpour la livraison</b>
        </div>
        <div class="col-md-6">
            <b>recap de a commande</b><br>
            <b>Bouton pour payer</b>
        </div>
    </div>

{% endblock %}
